ion-tab-bar{
  --background: var(--ion-color-primary);
}
ion-tab-button{
  --color-selected: #fff;
}

.player{
  height: 55px;
  background: var(--ion-color-warning-contrast);
  font-family: 'Spotify';
  color: #fff;
  font-size: small;
  img{
      height: 55px;
  }

  .progress-bar{
      width: 100%;
      height: 2px;
      background: #cbc6c6;
      .progress{
          background-color: rgb(251, 244, 244);
          height: 100%;
      }
  }
  
}
