<ion-tabs (ionTabsDidChange)="setSelectedTab()">
  
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon color="light" [name]="selected == 'accueil' ? 'home' : 'home-outline'"></ion-icon>
      <ion-label color="dark"><h3>Home</h3></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="album">
      <ion-icon color="light" [name]="selected == 'album' ? 'search' : 'search-outline'"></ion-icon>
      <ion-label color="dark"><h3>Album</h3></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="a-propos">
      <ion-icon color="light" [name]="selected == 'a-propos' ? 'library' : 'library-outline'"></ion-icon>
      <ion-label color="dark"><h3>A propos</h3></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
